services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:v1.12.0 #


    container_name: mealie
    restart: always
    ports:
        - "10002:9000"

    volumes:
      - mealie-data:/app/data/
    environment:
      # Set Backend ENV Variables Here
      ALLOW_SIGNUP: false
      PUID: 1000
      PGID: 1000
      TZ: Europe/Paris
      MAX_WORKERS: 1
      WEB_CONCURRENCY: 1
      BASE_URL: https://mealie.ayanides.cloud

volumes:
  mealie-data:
